:root {
  --sidebar-width: 19rem; /* 64px * 0.25 = 16rem (default expanded) */
  --sidebar-width-3xl: 22rem; /* 72px * 0.25 = 19rem (default expanded at 3xl) */
}

/* Make sure scrollbar behavior is consistent across browsers */
html {
  scrollbar-gutter: stable;
}

/* Apply transition when the sidebar is changing state */
.sidebar-transitioning * {
  transition: margin 0.2s ease-out, padding 0.2s ease-out;
} 